h1{
    font-size: 30px;
    color: red;
}
/* A host parent component styling its host component */
/* c-css-child-demo{
    display: block;
    background-color: green;
    color: white;
} */

p{
    font-size: 20px;
    color: yellow;
}