/* A child component reaching oout to style its own component
this :host just indicates the host is styling itself */
:host{
    display: block;
    background-color: red;
    color: white;
}
/* If we have the host displayed twice we can give the second one a class */
:host(.blue){
    display: block;
    background-color: blue;
    color: white;
}