.wrapper {
    width: 100%;
    background-color: #ddd;
}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.html{
    width: 90%;
    background-color: #4caf50;
}