.input-icon {
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
}
.icon-right{
    right: 1px;
}
.icon-left{
    left: 1px;
}